<ion-view view-title="相关分类" >
  <ion-content>
    <div class="item  item-divider">
    	精品推荐
    </div>
    <div class="row recommed-list">
    	<div class="col-25 ">
    		<span class="ion-ios-game-controller-b-outline recommend calm"></span>
    		<p>游戏</p>
    	</div>
    	<div class="col-25 ">
    		<span class="ion-ios-cart-outline recommend balanced"></span>
    		<p>购物</p>
    	</div>
    	<div class="col-25 ">
    		<span class="ion-social-yen-outline recommend energized"></span>
    		<p>财经</p>
    	</div>
    	<div class="col-25">
    		<span class="ion-ios-eye-outline recommend royal"></span>
    		<p>开眼</p>
    	</div>
    </div>
    <div class="row recommed-list">
    	<div class="col-25">
    		<span class="ion-ios-infinite-outline recommend royal"></span>
    		<p>人品</p>
    	</div>
    	<div class="col-25 ">
    		<span class="ion-ios-basketball-outline recommend calm"></span>
    		<p>运动</p>
    	</div>
    	<div class="col-25 ">
    		<span class="ion-ios-snowy recommend balanced"></span>
    		<p>天气</p>
    	</div>
    	<div class="col-25 ">
    		<span class="ion-social-sass recommend energized"></span>
    		<p>品牌</p>
    	</div>
    </div>
    <div class="item  item-divider">
    	直播推荐
    </div>
	<div class="row">
		<div class="col-50">
			<div class="peo-list">
				<img src="img/zhiqinghcun.jpg">
				<h5>青春系列</h5>
			</div>
		</div>
		<div class="col-50">
			<div class="peo-list">
				<img src="img/zanmenjiehub.jpg">
				<h5>婚姻系列</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-50">
			<div class="peo-list">
				<img src="img/mika.jpg">
				<h5>时尚系列</h5>
			</div>
		</div>
		<div class="col-50">
			<div class="peo-list">
				<img src="img/guilunmei.jpg">
				<h5>悲情系列</h5>
			</div>
		</div>
	</div>
	<div class="item  item-divider">
		热门推荐
	</div>
    <ion-list>
    	<ion-item 
    		class="item-remove-animate item-avatar search-list"
    		type="item-text-warp"
    		href="#/tab/classify/1" >
    		<img src="img/9SgAuHeY.png">
            <h2>十二道锋味</h2>
    		<!-- 内容区开始 -->
            <p class="smoll-font">
                <span>80:00-13:59 | 06/37- 02/29</span>
            </p>
            <div class="row no-padding">
                <p class="smoll-font col-75">
                    <span class="star ion-ios-star posotive"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star-half"></span>
                    <span class="star ion-ios-star-outline"></span>
                    <span>(500) | 任何人</span>
                </p>
                <p class="smoll-font  col-25 money" >
                    <span>￥50</span>
                </p>
            </div>
            <div class="extra ">
                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
            </div>  
            <!-- 内容区结束 -->

    		<ion-option-button 
    			class="button-assertive">
    			delete
    		</ion-option-button>
    		<ion-option-button 
    			class="button-positive">
    			视频
    		</ion-option-button>

    		<ion-delete-button class="ion-minus-circled"
		                       ng-click="items.splice($index, 1)">
		    </ion-delete-button>

		    <ion-reorder-button class="ion-navicon"
	                            on-reorder="reorderItem(item, $fromIndex, $toIndex)">
	        </ion-reorder-button>
    	</ion-item>

    	<ion-item 
    		class="item-remove-animate item-thumbnail-left search-list"
    		type="item-text-warp"
    		href="#/tab/classify/1" >
    		<img src="img/9SgAuHeY.png">
    		<!-- 内容区开始 -->
            <h2 class="no-break">小苍的直播间</h2>
            <p class="smoll-font">
                <span>80:00-13:59 | 06/37- 02/29</span>
            </p>
            <div class="row no-padding">
                <p class="smoll-font col-75">
                    <span class="star ion-ios-star posotive"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star-half"></span>
                    <span class="star ion-ios-star-outline"></span>
                    <span>(500) | 任何人</span>
                </p>
                <p class="smoll-font  col-25 money" >
                    <span>￥50</span>
                </p>
            </div>
            <div class="extra ">
                <p>视屏内容 分类 介绍 2行，最多30个字,文字位置自动适应</p>
            </div>  
            <!-- 内容区结束 -->

    		<ion-option-button 
    			class="button-assertive">
    			delete
    		</ion-option-button>
    		<ion-option-button 
    			class="button-positive">
    			视频
    		</ion-option-button>
    		<ion-delete-button class="ion-minus-circled"
		                       ng-click="items.splice($index, 1)">
		    </ion-delete-button>
    	</ion-item>

        <ion-item 
            class="item-remove-animate item-thumbnail-left search-list"
            type="item-text-warp"
            href="#/tab/classify/1" >
            <img src="img/logo.jpg">
            <!-- 内容区开始 -->
            <h2 class="no-break">十二道锋味</h2>
            <p class="smoll-font">
                <span>80:00-13:59 | 06/37- 02/29</span>
            </p>
            <div class="row no-padding">
                <p class="smoll-font col-75">
                    <span class="star ion-ios-star posotive"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star"></span>
                    <span class="star ion-ios-star-half"></span>
                    <span class="star ion-ios-star-outline"></span>
                    <span>(500) | <span class="assertive">任何人</span></span>
                </p>
                <p class="smoll-font  col-25 money" >
                    <span>￥50</span>
                </p>
            </div>
            <div class="extra ">
                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
            </div>  
            <!-- 内容区结束 -->

            <ion-option-button 
                class="button-assertive">
                delete
            </ion-option-button>
            <ion-option-button 
                class="button-positive">
                视频
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="items.splice($index, 1)">
            </ion-delete-button>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
